/* Modal */

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #e36650;
    color: white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

 .close {
   opacity: 1;
   color: white;
   font-weight: normal;
   font-size: 35px;
   text-shadow: none;
 }

 .modal-header .close {
   margin-top: 0px;
 }

/* GENERAL */

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: #ffffff;
}

h2 {
  font-weight: lighter;
  color: white;
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 20px;
  line-height: 2;
}

li {
  line-height: 2;
  font-size: 20px;
  max-width: 500px;
}



.page-header-livfree {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/hero-bg.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  margin-bottom: 25px;
  margin-top: 100px;
  width: 250px;
}


/* Language dropdown */
.languagepicker {
	background-color: #FFF;
	display: inline-block;
	padding: 0;
	height: 40px;
	overflow: hidden;
	transition: all .3s ease;
	margin: 0 50px 10px 0;
	vertical-align: top;
  position: absolute;
right: 0%;
top: 5%;
}

.languagepicker:hover {
	/* don't forget the 1px border */
	height: 205px;
}

.languagepicker a {
	color: #000;
	text-decoration: none;
}

.languagepicker li {
	display: block;
	padding: 0px 20px;
	line-height: 40px;
	border-top: 1px solid #EEE;
  font-size: 14px;
}

.languagepicker li:hover {
	background-color: #EEE;
}

.languagepicker a:first-child li {
	border: none;
	background: #FFF !important;
}

.languagepicker li img {
	margin-right: 5px;
  height: 15px;
}

.roundborders {
	border-radius: 5px;
}


/* Select buttons */
select, input {
  -webkit-appearance: none;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  border-radius: 5px;
  box-sizing: border-box;
  align-items: center;
  color: black;
  background-color: white;
  cursor: default;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(166, 166, 166);
  height: 50px;
  font-size: 16px;
  text-indent: 10px;
  margin-right: 25px;
}



.active {
  opacity: 1;
  border-color: #000;
}

.call-to-action {
  display: flex;
  margin-top: 25px;
}

#email {
  width: 300px;
}


#submit-button {
  text-align: center;
  width: 200px;
  background-color: #e36650;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-indent: 0px !important;

}

#first-screen {
  width: 450px;
  margin-top: 120px;
}



/* Second section */

.second-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../images/second-bg.jpg");
  height: 900px;
  margin-top: 500px;
  background-color: #ffffff;
}

.second-section-text {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40%;
  left: 55%;
}

/* Third section */
.third-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 150px;
}


.third-section-text {
  display: flex;
  flex-direction: column;

}

#third-screen {
  height: 600px;
  margin-left: 100px;
}

/* Testimonials */

#fh5co-testimonials {
  padding: 7em 0;
  background-color: #ffffff;
}

#fh5co-testimonials .section-heading h2 {
  color: #52d3aa;
  padding-bottom: 50px;
}
#fh5co-testimonials .section-heading h2:after {
  background: #52d3aa;
}
#fh5co-testimonials .section-heading .subtext h3 {
  color: #52d3aa;
}
#fh5co-testimonials .box-testimony {
  margin-bottom: 2em;
  float: left;
}
#fh5co-testimonials .box-testimony a {
  color: #52d3aa;
}
#fh5co-testimonials .box-testimony a:hover, #fh5co-testimonials .box-testimony a:focus, #fh5co-testimonials .box-testimony a:active {
  color: white;
  text-decoration: none;
}
#fh5co-testimonials .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 40px;
  background: #52d3aa;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  color: white;
}
#fh5co-testimonials .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 15px solid black;
  border-top-color: #52d3aa;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#fh5co-testimonials .box-testimony blockquote .quote {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  display: table;
  color: #52d3aa;
  width: 56px;
  height: 56px;
  margin-top: -30px;
  background: #52d3aa;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-testimonials .box-testimony blockquote .quote > span {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-testimonials .box-testimony blockquote p {
  font-style: italic;
}
#fh5co-testimonials .box-testimony .author {
  line-height: 20px;
  color: #52d3aa;
  font-size: 20px;
  margin-left: 25px;
}
#fh5co-testimonials .box-testimony .author .subtext {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

/* Fourth section */
.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 150px 0px 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../images/fourth-bg.jpg");
  height: 900px;
}

.fourth-section-text {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 30%;
  width: 500px;
}



footer {
  height: 150px;
  background-color: #e36650;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 10px;
  text-align: center;
      line-height: 40px;

}

footer a {
  color: white !important;
  text-decoration: none !important;
}


#mail-link {
  color: white !important;
}


#second-screen-mobile, #fourth-screen-mobile {
  display: none;
}


/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  h2 {
    font-size: 24px;
    text-align: center;
  }

  #headline {
    padding: 0 10px;
  }

  h3 {
    font-size: 20px;
  }

  li, p {
    font-size: 16px;
  }

  input {
    margin-top: 25px;
    margin-right: 0px;
    padding: 0px;
  }

  select {
    margin-right: 0px;
    width: 300px;
    margin: 0 auto;
    margin-top: 25px;
  }

  .languagepicker {
    right: -8%;
  }

  .languagepicker li  {
    font-size: 12px;
    padding: 0 8px;
  }


  #logo {
    width: 150px;
    margin-top: 50px;
  }

  .page-header-livfree {
    text-align: center;
    height: unset;
    width: unset;
  }

  .call-to-action {
    flex-direction: column;
    text-align: center;
    margin-top: 0px;
  }

  #email {
    text-align: center;
  }

  #first-screen {
    width: 250px;
    margin-top: 75px;
  }

  .second-section {
    background: none;
    height: unset;
    margin-top: 15px;
  }

  #second-screen-mobile {
    display: flex;
    width: 100%;
  }

  #third-screen {
    height: 300px;
    margin-left: 0px;
    margin-top: 50px;
  }

  .second-section-text {
    top: 0%;
    left: 0%;
    padding: 50px;
  }


  .third-section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
  }

  .fourth-section {
    background: none;
    height: unset;
    padding: 0px;
    display: block;
  }

  .fourth-section-text {
    left: 0%;
    width: unset;
    padding: 75px 50px 50px 50px;
  }

  #fourth-screen-mobile {
    display: flex;
    width: 100%;
  }

  footer {
    font-size: 12px;
    word-spacing: 2px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px)  {
  h2 {
    font-size:24px;
  }
  h3 {
    font-size: 22px;
  }
  li, p {
    font-size: 16px;
  }

  .second-section-text {
    width: 300px;
    left: 65%;
  }

  .fourth-section-text {
    width: 260px;
    left: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
